/* Comman Style */
body { font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 14px; color: #535859; background: #e6eff2; }
img { max-width: 100%; }
i { font-style: italic; }
b, strong { font-weight: 700; }
input, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { text-decoration: none; outline: none; }
select:focus { text-decoration: none; outline: none; }
.form-control:-moz-placeholder { color: #333; }
.form-control::-moz-placeholder { color: #333; opacity: 1; }
.form-control:-ms-input-placeholder { color: #333; }
.form-control::-webkit-input-placeholder { color: #333; }

a { text-decoration: none; outline: none; }
a:hover, a:focus { text-decoration: none; outline: none; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Open Sans', sans-serif; }

.cl { clear: both; }
.clAll { clear: both; height: 0px; line-height: 0px; font-size: 0px; }
.clAll:before { display: table; line-height: 0; content: ""; }
.clAll:after { display: table; line-height: 0; content: ""; clear: both; }
.cp { cursor: pointer; }
.fl { float: left; }
.fr { float: right; }
.fn { float: none; }
.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; }
.dn { display: none; }
.vam { vertical-align: middle; }
.mt5 { margin-top: 5px; }
.mr5 { margin-right: 5px; }
.mb5 { margin-bottom: 5px; }
.ml5 { margin-left: 5px; }
.mt10 { margin-top: 10px; }
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }
.mt20 { margin-top: 20px; }
.mr20 { margin-right: 20px; }
.mb20 { margin-bottom: 20px; }
.ml20 { margin-left: 20px; }
.pt5 { padding-top: 5px; }
.pr5 { padding-right: 5px; }
.pb5 { padding-bottom: 5px; }
.pl5 { padding-left: 5px; }
.pt10 { padding-top: 10px; }
.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }
.pl10 { padding-left: 10px; }
.p10 { padding: 10px; }
.mt50 { margin-top: 50px; }
.mb50 { margin-bottom: 50px; }
.posRel { position: relative; }
.posAbs { position: absolute; }
.posInt { position: inherit; }
.ti30 { text-indent: 30px; }
.w340{ width:340px; max-width:100%;}

input[type="text"], input[type="password"], input[type="search"], input[type="email"] { background: #f8fbfc; border: 1px solid #d7dee0; color: #626e71; width: 100%; padding: 10px 15px; resize: none; font-size: 13px; font-weight: 600; min-height: 40px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05); }

textarea { background: #f8fbfc; border: 1px solid #d7dee0; color: #626e71; width: 100%; padding: 10px 15px; resize: none; font-size: 13px; font-weight: 600; min-height: 115px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05); }

.dropDown { position: relative; display: inline-block; width: 100%; }
.dropDown:after { content: ''; right: 10px; top: 16px; position: absolute; pointer-events: none; z-index: 2; border-top: 8px solid #6b7779; border-left: 7px solid transparent; border-right: 7px solid transparent; content: ""; height: 0; width: 0; }
.dropDown:before { content: ''; right: 1px; top: 1px; width: 33px; height: 38px; background: #f8f8f8; position: absolute; pointer-events: none; display: block; z-index: 1; border-left: 1px solid #cdd4d6;
background: #fafcfd;
background: -moz-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafcfd), color-stop(100%, #f3f7f9));
background: -webkit-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: -o-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: -ms-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: linear-gradient(to bottom, #fafcfd 0%, #f3f7f9 100%);
-webkit-border-radius: 0px 3px 3px 0px;
border-radius: 0px 3px 3px 0px;
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
.dropDown select, .addBtnFull { outline: none; display: inline-block; cursor: pointer; color: #626e71; font-size: 13px; font-weight: 600; height: 40px; width: 100%; padding: 8px 10px 8px 10px; border: 1px solid #cdd4d6; line-height: 20px;
background: #fafcfd;
background: -moz-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafcfd), color-stop(100%, #f3f7f9));
background: -webkit-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: -o-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: -ms-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: linear-gradient(to bottom, #fafcfd 0%, #f3f7f9 100%);
-webkit-border-radius: 3px;
border-radius: 3px;
display: inline-block;
position: relative;
cursor: pointer;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.addBtn { font-size: 11px; font-weight: 700; text-transform: uppercase; color: #6b7779; letter-spacing: 0.5px; border: 1px solid #cdd4d6; line-height: 30px; min-height: 30px; padding: 0px 10px 0px 8px; display: inline-block; position: relative; cursor: pointer;
background: #fafcfd;
background: -moz-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafcfd), color-stop(100%, #f3f7f9));
background: -webkit-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: -o-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: -ms-linear-gradient(top, #fafcfd 0%, #f3f7f9 100%);
background: linear-gradient(to bottom, #fafcfd 0%, #f3f7f9 100%);
-webkit-border-radius: 3px;
border-radius: 3px;}

.grd-org {
background-color: #d88035;
background-image: -moz-linear-gradient(top, #d88035, #c05d27);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d88035), to(#c05d27));
background-image: -webkit-linear-gradient(top, #d88035, #c05d27);
background-image: -o-linear-gradient(top, #d88035, #c05d27);
background-image: linear-gradient(to bottom, #d88035, #c05d27);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd88035', endColorstr='#ffc05d27', GradientType=0); }

.grd-blue {
background-color: #009bba;
background-image: -moz-linear-gradient(top, #009bba, #00708d);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#009bba), to(#00708d));
background-image: -webkit-linear-gradient(top, #009bba, #00708d);
background-image: -o-linear-gradient(top, #009bba, #00708d);
background-image: linear-gradient(to bottom, #009bba, #00708d);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff009bba', endColorstr='#ff00708d', GradientType=0); }

.grd-lightBlue {
background-color: #f3f7f9;
background-image: -moz-linear-gradient(top, #f3f7f9, #e6eff2);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f7f9), to(#e6eff2));
background-image: -webkit-linear-gradient(top, #f3f7f9, #e6eff2);
background-image: -o-linear-gradient(top, #f3f7f9, #e6eff2);
background-image: linear-gradient(to bottom, #f3f7f9, #e6eff2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3f7f9', endColorstr='#ffe6eff2', GradientType=0); }

.grd-red {
background-color: #da4f49;
*background-color: #bd362f;
background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);



background-color: #da4f49;
*background-color: #bd362f;
background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
background-repeat: repeat-x;
border-color: #bd362f #bd362f #802420;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}

.btnOrgLg, .btnBlueLg, .btnRedLg { padding: 5px 28px; font-size: 16px; font-weight: 700; letter-spacing: 0.5px; font-family: 'Open Sans Condensed', sans-serif; text-transform: uppercase; color: #fff; line-height: 38px; min-height: 50px; white-space: normal; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); border-color: #a95e34 #7d4120 #4e220a #7d4120; border-width: 1px; border-style: solid; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3); }
.btnOrgLg.full { width: 100%; padding-left: 5px; padding-right: 5px; }
.btnOrgLg:hover, .btnOrgLg:focus { background: #c05d27; color: #fff; }
.btnBlueLg { border-color: #00708c #005a71 #004253 #005a71; }
.btnBlueLg:hover, .btnBlueLg:focus { background: #00708d; color: #fff; }
.btnBlueLt { padding: 5px 28px; font-size: 16px; font-weight: 700; letter-spacing: 0.5px; font-family: 'Open Sans Condensed', sans-serif; text-transform: uppercase; color: #00637c; line-height: 38px; min-height: 50px; white-space: normal; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); border-color: #cee0e5 #c3d5db #b8cbd2 #c3d5db; border-width: 1px; border-style: solid; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.1);}
.btnBlueLt:hover, .btnBlueLt:focus { background: #e6eff2; color: #00637c; }
.btnBlueLt.tcOrg:hover, .btnBlueLt.tcOrg:focus { background: #e6eff2; color: #D06B34; }
.btnBlueLt.tcRed:hover, .btnBlueLt.tcRed:focus { background: #e6eff2; color: #CC413D; }
.btnRedLg { border-color: #bd362f #bd362f #802420; }
.btnRedLg:hover, .btnRedLg:focus { background: #bd362f; color: #fff; }

.rplybtnOrgLg { padding: 5px 28px; font-size: 16px; font-weight: 700; letter-spacing: 0.5px; font-family: 'Open Sans Condensed', sans-serif; color: #fff; line-height: 19px; min-height: 32px; white-space: normal; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); border-color: #a95e34 #7d4120 #4e220a #7d4120; border-width: 1px; border-style: solid; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);}
.rplybtnOrgLg.full { width: 100%; padding-left: 5px; padding-right: 5px; }
.rplybtnOrgLg:hover, .rplybtnOrgLg:focus { background: #c05d27; color: #fff;}

.front section { padding: 75px 0px; }
.not-front section { padding: 50px 0px; }

h2 { color: #00647d; font-size: 38px; font-weight: 600; line-height: 48px; display: block; margin: 0px 0px 15px 0px; }
h3 { color: #00647d; font-size: 32px; font-weight: 600; line-height: 46px; display: block; margin: 0px 0px 15px 0px; }
.descText { color: #474b4c; font-size: 20px; font-weight: 400; display: block; text-align: center; font-family: 'Roboto Slab', serif; margin: 0px 0px 15px 0px; }
.bdb { border-bottom: 1px solid #ced6d9; }
.O11BU { font-size: 11px; font-weight: 700; text-transform: uppercase; line-height: 22px; font-family: 'Open Sans', sans-serif; }
.O15R { font-size: 15px; font-weight: 400; line-height: 26px; font-family: 'Open Sans', sans-serif; }
.O12R { font-size: 12px; font-weight: 400; line-height: 20px; font-family: 'Open Sans', sans-serif; text-transform: none; }
.O13SB { font-size: 13px; font-weight: 600; line-height: 20px; font-family: 'Open Sans', sans-serif; }
.O12B { font-size: 12px; font-weight: 700; line-height: 20px; font-family: 'Open Sans', sans-serif; }
.O12BU { font-size: 12px; font-weight: 700; line-height: 20px; text-transform: uppercase; font-family: 'Open Sans', sans-serif; }
.OC15BUG { font-size: 15px; font-weight: 700; text-transform: uppercase; line-height: 26px; font-family: 'Open Sans Condensed', sans-serif; color: #474b4c; letter-spacing: 0.5px; }
.OC16BUB { font-size: 16px; font-weight: 700; text-transform: uppercase; line-height: 26px; font-family: 'Open Sans Condensed', sans-serif; color: #00637c; letter-spacing: 0.5px; }
.OC16BU { font-size: 16px; font-weight: 700; text-transform: uppercase; line-height: 26px; font-family: 'Open Sans Condensed', sans-serif; letter-spacing: 0.5px; }
.R22R { font-size: 22px; font-weight: 400; line-height: 32px; font-family: 'Roboto Slab', serif; }
.R20R { font-size: 20px; font-weight: 400; line-height: 32px; font-family: 'Roboto Slab', serif; }
.R16R { font-size: 16px; font-weight: 400; line-height: 28px; font-family: 'Roboto Slab', serif; }
.tcOrg { color: #d06b34; }
.tcblue { color: #00647d; }
.tcGry { color: #474b4c; }
.tcRed { color: #cc413d; }
.glyphicon-earphone { top: 3px; }

.wrapper{ position:relative;}

/* Navigation */
.navbar-inverse { margin: 0px;
background-color: #00708d;
background-image: -moz-linear-gradient(top, #00708d, #00637c);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00708d), to(#00637c));
background-image: -webkit-linear-gradient(top, #00708d, #00637c);
background-image: -o-linear-gradient(top, #00708d, #00637c);
background-image: linear-gradient(to bottom, #00708d, #00637c);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00708d', endColorstr='#ff00637c', GradientType=0);
border-radius: 0px;
-webkit-border-radius: 0px;
border-width: 0px 0px 1px 0px;
border-bottom: 1px solid #103140;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

.navbar-nav { padding: 24px 0px; }
.navbar-nav .glyphicon-user{ margin-right:8px;}

.navbar-inverse .navbar-nav > li { margin: 0px 0px 0px 2px; }
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > .userDropdown > li > a { font-size: 11px; text-transform: uppercase; font-weight: 700; color: #fff; padding: 6px 16px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }
.navbar-inverse .navbar-nav > li:hover > a, .navbar-inverse .navbar-nav > li.active > a, .navbar-inverse .navbar-nav > li > a.signUp,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
padding: 5px 15px;
background-color: #d88035;
background-image: -moz-linear-gradient(top, #d88035, #c05d27);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d88035), to(#c05d27));
background-image: -webkit-linear-gradient(top, #d88035, #c05d27);
background-image: -o-linear-gradient(top, #d88035, #c05d27);
background-image: linear-gradient(to bottom, #d88035, #c05d27);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd88035', endColorstr='#ffc05d27', GradientType=0);
border-color: #005165 #084153 #0f3241 #084153;
border-width: 1px;
border-style: solid;
-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.3); }

.navbar-inverse .navbar-nav > li > ul > .dropdown:hover > a, .navbar-inverse .navbar-nav > li > ul > .dropdown > a,
.navbar-inverse .navbar-nav > li > ul > .dropdown.open > a, .navbar-inverse .navbar-nav > li > ul > .dropdown.open > a:hover, .navbar-inverse .navbar-nav > li > ul > .dropdown.open > a:focus {
padding: 5px 15px 5px 50px; background:none; border:none; display:inline-block; line-height:20px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0); }

.userDropdown{ position:relative; padding:0px; list-style:none;}
.userLogin{ width:42px; height:42px; position:absolute; left:0; top:-6px; background:#fff; padding:3px; border:1px solid #103140;}

/* Header Top Banner */
.headerTop { background: url(../images/header_top_bg.png) center top no-repeat; background-size: cover; border-bottom: 1px solid #2f5866; }
.headerTop .leftSide { padding-right: 20px; }
.headerTop .leftSide h1 { font-size: 38px; font-weight: 600; color: #fff; line-height: 48px; margin: 0px 0px 30px 0px; }
.headerTop .leftSide p { font-size: 20px; font-weight: 400; color: #fff; line-height: 34px; margin: 0px 0px 40px 0px; font-family: 'Roboto Slab', serif; }
.headerTop .rightSide { padding-left: 50px; }
.headerTop .rightSide input { background: #fff; background: rgba(255, 255, 255, 0.65); border: 3px solid #fff; font-size: 14px; color: #313a3d; font-weight: 400; padding: 8px 8px 8px 30px; min-height: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; }
.headerTop .rightSide .search-form { position: relative; margin-bottom: 30px; margin-top: 10px; }
.headerTop .rightSide .search-form .btn { position: absolute; left: 3px; top: 5px; background: none; color: #424c4f; min-height: 40px; min-width: 30px; padding: 0px;-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px; }
.headerTop .rightSide .socialLogo { margin-bottom: 30px; }
.headerTop .rightSide .socialLogo a { margin: 8px 10px; display: inline-block; }
.headerTop .rightSide p { font-size: 15px; color: #242a2c; color: rgba(36, 42, 44, 0.8); line-height: 28px; }

.formBox { background: #fbfdfd; background: rgba(255, 255, 255, 0.8); padding: 25px 48px 25px 48px; border: 1px solid #ced6d9; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

/* ==== step 2 */
.bgLightBlue { background: #e6eff2; border: 1px solid #b8ccd1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.avlTime { padding: 14px 20px; font-size: 13px; color: #00637c; font-weight: 600; }
ul.bListOne { margin: 0px; padding: 0px; list-style: none; border-top: 1px solid #CED6D9; }
ul.bListOne li{ padding:8px 0px 8px 0px; display: block; border-bottom: 1px solid #CED6D9; position: relative;}

/* Application Mentors */
.applicationMentors .formBox label { color: #00637c; margin-top: 15px; margin-bottom: 3px; }
.darkBoxRight { background: #d8e6eb; border: 1px solid #b8ccd1; padding: 20px 30px 15px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.formBox label.chLeft { float: right; font-size: 12px; font-weight: 700; line-height: 20px; color: #869092; }
.formBox .row .col-sm-6:nth-child(2n+3) { clear: both; }

.modal-backdrop.in { opacity: 0.8; filter: alpha(opacity=80); }
.modal-dialog .caretR,
.modal-dialog .caretL{ border-bottom:7px solid #000;}

/* Footer */
footer { position:absolute; left:0; bottom:0; width:100%; font-size:11px; font-weight:700; color:#fff; padding:40px 0px; margin: 0px; background-color: #00637c; border-top: 1px solid #103140;
-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3); }

footer ul{ margin:0px; padding:0px; list-style:none; float:left; width:100%;}
footer a{ color:#fff; text-decoration:none;}
footer a:hover{ color:#eee; text-decoration:none;}
.fNav{ margin-left:-20px;}
.fNav li{ width:50%; float:left; padding:0px 0px 0px 30px;}
.fNav li a{ border-bottom:1px solid #005266; float:left; width:100%; padding:6px 0px; text-transform:uppercase;
-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
-moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);
box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);}

.welcomeSection {
    color: #fff;
    font-family: "RobotoBold";
    font-size: 35px;
    line-height: 25px;
    position: absolute;
    top: 40%;
    width: 100%;
}
