<div data-extend-template="js/views/layouts/main.html">
  <div data-block="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>Welcome!</h3>
          <img ng-src="{{user.avatar}}" src="images/user-big-icon.png" id="avatarImg" width="125" height="125" />
        </div>
      </div>
      <div class="row col-sm-4 mt10 col-md-offset-5 text-center">
        <input type="file" onchange="angular.element(this).scope().setAvatar(this, 'avatarImg')">
      </div>
      <div class="row col-sm-12 mt10 text-center">
        <a href="#/" class="btn btn-success">Log out</a>
      </div>
    </div>
  </div>
</div>
